xxx.com {
  gzip
  root /var/www/html/mikutap
  tls xxx@xxx.com {
  protocols tls1.3
  alpn h2
  }
  header / {
    Strict-Transport-Security "max-age=31536000;"
    X-XSS-Protection "1; mode=block"
    X-Content-Type-Options "nosniff"
    X-Frame-Options "DENY"
  }
  proxy /xxx localhost:10086 {
    transparent
    websocket
    header_upstream -Origin
  }
}
