[Unit]
Description=nginx - high performance web server
Documentation=https://nginx.org/en/docs/
After=network-online.target remote-fs.target nss-lookup.target
Wants=network-online.target

[Service]
Type=forking
;注意这个用户跟你的证书权限一样，使用这个配置请删除这行注释
User=acme
ExecStartPre=/usr/local/bin/nginx -t -c /opt/nginx/nginx.conf
ExecStart=/usr/local/bin/nginx -c /opt/nginx/nginx.conf
ExecReload=/bin/kill -s HUP $MAINPID
ExecStop=/bin/kill -s TERM $MAINPID
CapabilityBoundingSet=CAP_NET_BIND_SERVICE
AmbientCapabilities=CAP_NET_BIND_SERVICE

[Install]
WantedBy=multi-user.target
